.s-1 {
    width: 13rem;
    margin-right: 5rem;
}

.s-2 {
    width: 13rem;
    margin-left: 5rem;
}

.s-3 {
    width: 200px;
    height: 100%;
    margin-top: 40px;
}

.t-1 {
    padding-top: 5rem;
}